@using WebSiteBanHang.Models
@model IEnumerable<SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_HomeLayout.cshtml";
}
@{ 
    IEnumerable<SanPham> lstDTM = (IEnumerable<SanPham>)ViewBag.ListDTM;
    IEnumerable<SanPham> lstLTM = (IEnumerable<SanPham>)ViewBag.ListLTM;
    IEnumerable<SanPham> lstMTB = ViewBag.ListMTM as IEnumerable<SanPham>;
}
@*Style hien thi 1 va 2 *@
<div class="content">
    <div class="container">
        @Html.Partial("~/Views/SanPham/SanPhamStyle1Partial.cshtml", lstDTM)
    </div>
    <div class="container">
        @Html.Partial("~/Views/SanPham/SanPhamStyle1Partial.cshtml", lstLTM)
    </div>
    @if (lstMTB.Count() < 4)
    {
        <div class="container">
            @Html.Partial("~/Views/SanPham/SanPhamStyle1Partial.cshtml", lstMTB)
        </div>
    }
    else
    {
        <div class="container">
            @Html.Partial("~/Views/SanPham/SanPhamStyle2Partial.cshtml", lstMTB)
        </div>
    }
    

</div>
